*{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
	color: #bcbcbc;

}
 /* --PARA LA BARRA-- */
div#logo-principal{
	width: 40px;
	height: 40px;
	margin: 10px;
	background-image: url(../img/Listas.png);
	background-size: 100% 100%;
	float: left;
}

p.ML{
	margin-left: 60px;
	line-height: 60px;
}

div.logo-interior{
	width: 40px;
	height: 40px;
	margin: 10px;
	background-image: url(../img/Listas.png);
	background-size: 100% 100%;
	float: left;
}

p.texto{
	margin-left: 5px;
	line-height: 60px;
	float: left;
}

div.contenedor-general-h{
	min-width: 190px;
	height: 50px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 60px;
}

div.contenedor-general{
	width: 190px;
	height: 50px;
	margin-left: 0px;
	margin-top: 10px;
}

div#listas{
	position: absolute;
	min-width: 190px;
	height: 100%;
	background-color: #2f3030;
	-webkit-transition: width 0.5s;
	float: left;
}

div#contenedor-listas{
	margin-bottom: 50%;
	overflow-y: auto;
}

.agregar_lista{
	margin-left: 5%;
	margin-bottom: 10%;
	color: #fff;
	background-color: #000;
	width: 150px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.delete_lista{
	float:left;
	margin-top: 25px;
	margin-left: 13.1%;
}

/* --AQUI TERMINA LA BARRA-- */

/* --PARA EL HEADER-- */
div#contenedor-title{
	width: 500px;
	text-align: center;
	float: left;
}

div.title{
	width: 50px;
	height: 50px;
	background-image: url(../img/Logo.png);
	background-size: 100% 100%;
	position:absolute;
	left:37%;
	right:;
	top:10px;
	bottom:;
	z-index: 0;
}

div.texto{
	line-height: 52px;
	position:absolute;
	left:42%;
	right:;
	top:10px;
	bottom:;
	z-index: 0;
}

h2.Usuario{
	position:absolute;
	left:85%;
	right:;
	top:15px;
	bottom:;
	z-index: 0;
}

/*--AQUI TERMINA EL HEADER--*/
 
/* --PARA LAS TAREAS-- */
div.cuerpo{
	background-color: #006390;
	height: 70%;
	width: 100%;
}

div.nota-contenedor{
	background-color: #006390;
	height: 89%;
	width: 100%;
}

.todo{
	width: 85%;
	max-width: 85%;
	max-height:30px;
	height:30px;
    margin-bottom: 5px;
    border-style: solid;
	border-width: 3px;
	border-color:#000;
	background-color: #fff;
}

.todoNota{
	width: 75%;
	max-width: 75%;
	max-height: 200px;
	height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 200px;
    border-style: solid;
	border-width: 3px;
	border-color: #000;
	background-color: #fff;
}

.todoNota:hover,.todoNota:focus,.edit:hover,.edit:focus{
	background-color: rgba(220,220,220,1.0);
	cursor: pointer;
}


/*-- PARA EL MODAL --*/

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #f4f4f4;
	margin: 10% auto;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: modalopen;
	animation-duration: 1s;
}

.modal-header h2, .modal-footer h3 {
	margin: 0;
}

.modal-header {
	background: coral;
	padding: 15px;
	color: #fff;
}

.modal-body {
	padding: 10px 20px;
}

.modal-footer {
	background: coral;
	padding: 20px;
	color: #fff;
	text-align: center;
}

input#nombreForm {
	width: 100%;
	height:30px;
}

input#descripcionForm {
	width: 100%;
	height:30%;
}

input#agregarNota{
	display: block;
	float: right;
}

input#updateNota{
	display: none;
	float: right;
}

.closeBtn {
	color: #ccc;
	float: right;
	font-size: 30px;
}

.closeBtn:hover,.closeBtn:focus{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen {
	from { opacity: 0; }
	to { opacity: 1; }
}

/*-- AQUI TERMINA EL MODAL --*/

.nombreNota{
	margin: 5px;
	color: 000;
	float: left;
}

.descripcionNota {
    margin-top: 15px;
    margin-left: 5px;
    color: #000;
    float: left;
    overflow-wrap: normal;
    clear: left;
    display: none;
}

.check{
	margin-top: 9px;
	margin-right: 2%;
	-webkit-transform: scale(2); /* Safari y Chrome */
  	padding: 10px;
  	float:right;
}

.EliminarT{
	margin-top: 4px;
	margin-right: 2%;
  	padding: 1px 3px;
  	color: red;
  	float:right;
  	max-height: 20px;
}

h2.nLista{
	margin-left: 200px;
	float:left;
	padding-bottom: 5px;
}

.agregar{
	margin-bottom: 1%;
	margin-right: 1%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.edit{
	float: right;
	margin-right: 2%;
	margin-top: 2px;
}

.edit_lista{
	float: left;
	margin-left: 1%;
	margin-top: 5px;
}